    * {
        margin: 0;
        padding: 0;
    }
    
    #root {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-size: 15px;
        margin: 0 auto;
        max-width: 900px;
    }
    
    header {
        text-align: center;
    }
    
    header h1 {
        color: #34B0FE;
        margin-top: 0.5em;
    }
    
    .notification {
        margin-top: 0.5em;
        background-color: #ff1c1cc4;
        /*visible hidden*/
    }
    
    .search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    main .search input {
        padding: 2%;
        width: 85%;
        border: 1px solid #C8D0D8;
        border-radius: 5px;
    }
    
    button {
        display: inline-flex;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        margin-right: 35px;
    }
    
    button i {
        font-size: 35px;
        color: #979797;
    }
    
    .add-item i {
        font-size: 45px;
    }
    
    button:hover i {
        color: #34B0FE;
    }
    
    main hr {
        border: 3px solid #E3F2FF;
        border-radius: 10px;
        margin: 2% 0;
        transition: all .4s;
    }
    
    main ul {
        display: block;
        list-style-type: none;
    }
    
    li input[type="checkbox"] {
        display: none;
    }
    
    li label {
        color: #34B0FE;
        cursor: pointer;
    }
    
    .material-icons.edit {
        color: #89C4F4;
        cursor: pointer;
        position: relative;
        margin-left: 5px;
        top: 8px;
    }
    
    .material-icons.edit:hover {
        color: #34B0FE;
    }
    
    .material-icons.delete {
        color: #89C4F4;
        margin-right: 35px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
    
    .material-icons.delete:hover {
        color: #fc1111;
    }