* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0b192f;
    font-family: roboto;
    margin: 0 auto;
    min-width: fit-content;
    max-width: fit-content;
}

header,
main,
footer {
    display: block;
    margin-bottom: 25px;
    width: 1400px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 57px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 0.5px;
}

p {
    color: #ffffff;
    opacity: 0.5;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
}

header {
    display: flex;
    flex-flow: row wrap;
    background-color: #162b4d;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 25px;
    height: 100px;
}

header .logo {
    position: relative;
    text-decoration: none;
    color: #fff;
    letter-spacing: -3px;
    word-spacing: -7px;
    font-size: 45px;
    font-weight: 100;
}

.burger {
    display: none;
}

header .logo span {
    color: #B71757;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .info-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 50px;
}

.info .info-text a {
    width: 80%;
    margin-bottom: 30px;
}

.info a:hover {
    color: #ffffff;
    opacity: 0.5;
}

.info .info-text p {
    width: 80%;
}

.info time {
    height: 100%;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
    opacity: 0.5;
    line-height: 1.3;
    margin-right: 10px;
    margin-left: 10px;
}

.info time span {
    display: block;
    font-size: 32px;
}

.post-2 .info {
    flex-direction: row-reverse;
}

.post-2 .info-text {
    text-align: end;
}

.list li {
    display: inline-block;
}

.list a {
    text-decoration: none;
    color: #fff;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.list a:hover {
    background-color: #283d5f;
    height: 100px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.items {
    width: 1040px;
}

article:nth-of-type(even) {
    flex-direction: row-reverse;
}

img {
    max-width: 100%;
}

.image {
    position: relative;
}

.image,
.info {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.image:hover {
    opacity: 0.5;
}

.article:nth-of-type(even) .info {
    flex-direction: row-reverse;
    text-align: right;
}

.post-1 {
    background: #B71757;
}

.post-2 {
    background: #0D7E71;
}

.post-3 {
    background: #b1660e;
}

.post-4 {
    background: #d12767;
}

.post-5 {
    background: #2d95bb;
    height: 250px;
}

.post-5 .info-text {
    flex-direction: column;
    width: 100%;
}

.post-5 .info-text a {
    width: 100%;
}

.post-5 .info-text p {
    width: 100%;
}

.post-right {
    width: 330px;
}

.post-6,
.post-7 {
    background-color: #fff;
    margin-bottom: 25px;
}

.info-right {
    box-sizing: border-box;
    padding: 40px;
}

.info-right h3 {
    margin-bottom: 12px;
}

.info-right h3 a {
    color: #000;
    font-size: 32px;
    font-weight: 100;
    line-height: 1.1;
}

.info-right p {
    font-weight: 100;
    font-size: 17px;
    line-height: 1.6;
    color: #000;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #162b4d;
    color: #b8b8b8;
    opacity: 0.5;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 5px;
}

footer p {
    font-size: 18px;
    font-weight: 300;
}

footer .copyright p {
    line-height: 27px;
}

footer .name p {
    line-height: 20px;
}

@media screen and (max-width: 1400px) {
    .btn-tablet {
        display: block;
        width: 33px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
    }
    header,
    main,
    footer {
        max-width: 930px;
    }
    header {
        height: auto;
        flex-direction: column;
        padding: 60px;
    }
    header a {
        padding: 3%;
    }
    .post-2 .info,
    .post-1 .info {
        flex-direction: column;
    }
    nav {
        display: none;
    }
    .items {
        width: 61%;
    }
    .post-2 .info-text {
        text-align: start;
        width: 100%;
    }
    .post-5 {
        height: auto;
    }
    .post-5 .info {
        flex-direction: column;
    }
    .info .info-text p {
        width: 90%;
    }
    .info {
        padding: 45px 30px 25px;
    }
    .info h2 {
        width: unset;
    }
    .info p {
        width: unset;
        margin-bottom: 55px;
    }
    .info time {
        position: static;
        width: 100%;
        text-align: center;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
    .burger {
        display: unset;
        margin-bottom: 30px;
    }
    @media screen and (max-width:768px) {
        header,
        main,
        footer {
            max-width: 480px;
        }
        .items {
            width: 100%;
        }
        .post-right {
            width: 100%;
        }
    }
}