:root {
    --bg-color--dark: #0b192f;
    --bg-color--header: #162b4d;
    --link: #fff;
    --link--hover: #b8b8b8;
    --bg-footer-color: #162b4d;
    ;
}

* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: roboto;
    background-color: #0b192f;
}

header,
main,
footer {
    display: block;
    margin-bottom: 25px;
    width: 1400px;
}

header {
    display: flex;
    flex-flow: row wrap;
    background-color: #162b4d;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 25px;
    height: 100px;
}

header .logo {
    position: absolute;
    text-decoration: none;
    color: #fff;
    letter-spacing: -3px;
    word-spacing: -7px;
    font-size: 45px;
    font-weight: 100;
}

header .logo span {
    color: #B71757;
}

.list {
    margin-left: 45em;
}

.list li {
    display: inline-block;
}

.list a {
    text-decoration: none;
    color: #fff;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.list a:hover {
    background-color: #283d5f;
    height: 100px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.items {
    width: 1040px;
}

article:nth-child(2n) {
    flex-direction: row-reverse;
}

img {
    max-width: 100%;
}

.image {
    position: relative;
}

.image,
.info {
    flex: 1 0 50%;
}

.post-1 {
    background: #B71757;
}

.post-2 {
    background: #0D7E71;
}

.post-3 {
    background: #b1660e;
}

.post-4 {
    background: #d12767;
}

.post-5 {
    background: #2d95bb;
}


/* Your styles go here */